a {
  outline: none; }

.mobile-header,
.header {
  margin: 0 !important;
  padding: 1% !important; }

.mobile-header {
  color: #fff; }

* {
  margin: 0 !important;
  padding: 0 !important;
  color: white; }

p {
  color: #000;
  margin: 2% !important; }

.imageDiv {
  text-align: center; }

.btns {
  margin-top: 2.5% !important; }

.icon h6 {
  margin-top: 5% !important; }

.popup_img {
  margin-top: 1.5% !important; }

.popup {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: none;
  text-align: center; }

.popup_bg {
  background: rgba(0, 0, 0, 0.4);
  position: relative;
  z-index: 2;
  height: 100%;
  width: 100%; }

.popup_img {
  position: relative;
  margin: 0 auto;
  margin-top: 4% !important;
  z-index: 5;
  max-height: 85%;
  max-width: 85%;
  margin: 1% 0 0 0;
  cursor: pointer; }

.image {
  cursor: url(../img/zoom-in.png), pointer; }

.arrow {
  position: fixed;
  z-index: 1;
  width: 2%;
  margin-top: 23% !important;
  margin-left: 1.5% !important;
  margin-right: 3% !important;
  display: absolute; }

.popup_bg p {
  text-align: center;
  color: #fff; }

.popup_bg:first-child {
  position: absolute;
  background: #000;
  opacity: 0.7; }

.popup_bg:first-child {
  color: red; }
