.mobile-header,
.header {
  background: #202020 !important;
  margin: 0 !important;
  padding: 1% !important; }

.header a {
  color: white; }

* {
  margin: 0 !important;
  padding: 0 !important;
  color: white; }

p {
  color: #000;
  margin: 2% !important; }

.imageDiv {
  text-align: center; }

.btns {
  margin-top: 2.5% !important; }

.icon h6 {
  margin-top: 5% !important; }

.podvinut {
  margin-top: 10% !important; }
