.mobile-header,
.header {
  background: #000 !important;
  margin: 0 !important;
  padding: 1% !important; }

.header a {
  color: white; }

* {
  margin: 0 !important;
  padding: 0 !important;
  color: white; }

p {
  color: #000;
  margin: 2% !important; }

.imageDiv {
  text-align: center; }
