.gallery {
	padding: .5vw;
	font-size: 0;
	flex-wrap: wrap;
	flex-direction: column;
	flex-flow: row wrap;
	display: flex;
	margin-top: 5%;
}

.gallery div {
	flex: auto;
	width: 250px;
	margin: .5vw;
}

.gallery div img {
	width: 100%;
	height: auto;
}

.text-mobile {
	display: none;
}

.img-container {
	margin: 0;
}

@media only screen and (max-width: 414px) {
.header {
	display: none;
}

.text-mobile {
	display: block;
	width: 100%;
	text-align: center;
}
}



.imgtext {
    display:inline-block;   
    position:relative;
 
}

.imgtext:hover span {
    display:inline-block;
    position:absolute;
    top:0%;   
    /*left:50%;*/
    blend: 0.7s;
     
    /* Оформление текста */
    color:#666;
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px; 
    text-align: center;
     
    /* Фон */
    background-color:white;
    padding:42.25%;
    padding-bottom: 48.4%;
    opacity: 0.6;
}

