.inputGroup {
  background-color: rgb(255,255,255);
  border-radius: 5px;
  display: block;
  margin: 10px 0;
  position: relative; }
  .inputGroup label {
    padding: 12px 30px;
    width: 100%;
    display: block;
    text-align: left;
    color: rgb(60,69,76);
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 200ms ease-in;
    overflow: hidden; }
    .inputGroup label:before {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      content: '';
      background-color: rgb(45,42,62);
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) scale3d(1, 1, 1);
      transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
      opacity: 0;
      z-index: -1; }
    .inputGroup label:after {
      width: 32px;
      height: 32px;
      content: '';
      border: 2px solid rgb(209,215,220);
      background-color: rgb(255,255,255);
      background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
      background-repeat: no-repeat;
      background-position: 2px 3px;
      border-radius: 50%;
      z-index: 2;
      position: absolute;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      transition: all 200ms ease-in; }
  .inputGroup input:checked ~ label {
    color: rgb(255,255,255);
    border-radius: 5px; }
    .inputGroup input:checked ~ label:before {
      transform: translate(-50%, -50%) scale3d(56, 56, 1);
      opacity: 1; }
    .inputGroup input:checked ~ label:after {
      background-color: rgb(0,189,131);
      border-color: rgb(0,149,102); }
  .inputGroup input {
    width: 32px;
    height: 32px;
    order: 1;
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    visibility: hidden; }

.form {
  padding: 0 16px;
  max-width: 550px;
  margin: 50px auto;
  font-size: 18px;
  font-weight: 600;
  line-height: 36px; }

body {
  background-color: rgb(36,32,48);
  font-family: 'Fira Sans', sans-serif; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

code {
  background-color: rgb(154,163,172);
  padding: 0 8px; }

.question {
  text-align: left; }

.home {
  height: 2em;
  width: 2em;
  border-radius: 50%;
  background: rgb(255,0,127);
  position: fixed;
  box-shadow: 0 14px 28px rgb(0, 0, 0), 0 5px 5px rgb(0, 0, 0); }

.home b {
  font-size: 125%;
  color: rgb(255,255,255);
  margin-left: 35%;
  margin-top: 30%; }

#home {
  margin-left: 3em;
  opacity: 0.6; }

#home:hover {
  opacity: 0.99; }

hr {
  border-top: 1px dashed rgb(0,189,131); }

.submit {
  text-align: center; }

.submit button {
  width: 25%;
  margin-bottom: 3%;
  background: rgb(76,128,152);
  border-color: rgb(76,128,152); }
  .submit button:hover {
    cursor: pointer; }

#lastQ {
  display: none; }

@media only screen and (max-width: 720px) {
  .home {
    display: none; } }

#home {
  margin-top: 2%; }

.firstOptionsBlock {
  text-align: center;
  margin-top: -4%; }

.firstOptionsBlock button {
  width: 35%;
  padding: 1%;
  margin-top: 2%;
  border-radius: 10px;
  outline: none;
  background: rgb(208,213,219);
  color: rgb(0,0,0); }

.dateOnPlace,
.datePolice,
.firstOptionsBlock,
.userInfoBlock {
  text-align: center;
  padding-top: 10%; }

.userInfoBlock input {
  margin-top: 4%;
  width: 50%;
  padding: 1%; }

.dateOnPlace button {
  padding: 0.5%;
  background: rgb(0,189,131);
  color: rgb(255,255,255); }

.question {
  color: white; }

.border {
  border: 3px solid red;
  border-radius: 5px;
  outline: none; }

[type="date"] {
  background: rgb(255,255,255) url(../img/calendar.png) 95% 50% no-repeat;
  padding: 0.3%;
  width: 13vw; }

[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0; }

[type="date"]::-webkit-inner-spin-button {
  display: none; }

.button, #btn1, #btn2 {
  outline: none !important;
  border: 3px solid rgb(0,149,102) !important;
  background: rgb(0,189,131) !important;
  border-radius: 3px !important;
  padding: 1.3% !important;
  font-size: 1.2vw;
  color: rgb(255,255,255); }
  .button:hover, #btn1:hover, #btn2:hover {
    background: rgb(0,149,102) !important;
    border-color: rgb(0,189,131) !important; }
  .button:active, #btn1:active, #btn2:active {
    color: black; }

#btn1 {
  margin-top: 10vh; }

#btn1, #btn2 {
  font-size: 1.2vw; }

.mb {
  margin-bottom: 4vh; }

.userInfoBlock p {
  color: rgb(255,255,255); }
