body {
  margin: 0;
  background: url("../img/concrete_seamless.png"); }

.menu {
  overflow: hidden;
  background-color: #4C8098FF;
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  height: 10vh; }

.menu a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 3vh;
  text-decoration: none;
  font-size: 17px; }

.menu a:hover {
  color: #C74E56FF;
  background: #3E6A7DFF;
  padding-bottom: 4vh; }

.items {
  height: 10vh;
  width: 40vw;
  float: right;
  margin-right: 0.3%; }

.logo {
  float: left; }

.navbar-toggler {
  outline: none !important; }

.navbar-nav {
  text-align: right !important; }

.bg {
  width: 100%;
  height: 100vh;
  background: red;
  background: url("../img/dtp4.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.content {
  position: relative;
  z-index: 3;
  margin-top: 10vh !important;
  margin-right: 10vh;
  margin-left: 10vh;
  margin: 0;
  text-align: center;
  padding-bottom: 5%;
  border-radius: 2px;
  background: #D0D5DBFF;
  opacity: 0.8;
  height: 100%; }

.section:nth-child(3) .content {
  background: none;
  margin-top: 0 !important; }

.how {
  width: 100%; }

.how img {
  margin-top: 3.5vh;
  padding: 1%;
  border: 3px solid #D0D5DBFF;
  border-radius: 2px; }

.container {
  width: 100%; }

.section h1 {
  text-align: center;
  margin-top: 2%;
  color: #696969; }

.section:first-child .content {
  width: 40vw;
  margin: auto;
  font-size: 25px;
  padding-bottom: 2% !important; }

.section:first-child .content h5 {
  margin-top: 15%; }

.section:nth-child(2) .secondOption,
.section:nth-child(2) .firstOption {
  font-size: 30px;
  text-align: center;
  display: inline-block;
  padding: 2% 5%;
  margin-top: 7%;
  border-radius: 10px;
  opacity: 0.8;
  color: #fff;
  width: 30vw; }

.section:nth-child(2) .firstOption {
  float: left;
  margin-left: 5%;
  font-weight: 100;
  color: white;
  text-decoration: none;
  padding: 0.8em 1em calc(.8em + 3px);
  border-radius: 5px;
  background: #40c781;
  box-shadow: 0 -6px #35a76e inset;
  transition: 0.9s; }

.section:nth-child(2) .secondOption {
  float: right;
  margin-right: 5%;
  font-weight: 100;
  color: white;
  text-decoration: none;
  padding: 0.8em 1em calc(.8em + 3px);
  border-radius: 5px;
  background: #ff2163;
  box-shadow: 0 -6px #d11b51 inset;
  transition: 0.2s; }

.section:nth-child(2) h3 {
  text-align: center;
  margin-top: 5%; }

.scale {
  width: 50vw;
  margin: auto;
  margin-top: 0;
  margin-bottom: 2%; }

.scale img {
  width: 30vw; }

.step {
  text-align: center;
  padding-left: 3%;
  width: 40vw;
  margin: auto;
  padding: 10px;
  border-radius: 5px; }

.step:nth-child(2) {
  margin-top: 2%; }

.step:nth-child(2),
.step:nth-child(4),
.step:nth-child(6) {
  background: #666;
  opacity: 0.9;
  color: #fff; }

.example {
  width: 60vw;
  height: auto;
  position: relative;
  z-index: 1;
  top: -40;
  left: 70; }

.example img {
  width: 60%; }

.start {
  font-size: 20px;
  text-align: center;
  display: inline-block;
  border-radius: 10px;
  opacity: 0.8;
  color: #fff;
  width: 30vw;
  font-weight: 100;
  color: white;
  text-decoration: none;
  padding: 0.3em 1em calc(.8em + 3px);
  border-radius: 5px;
  background: #40c781;
  box-shadow: 0 -6px #35a76e inset;
  transition: 0.9s; }

.inputGroup {
  background-color: #fff;
  display: block;
  margin: 10px 0;
  position: relative; }
  .inputGroup label {
    padding: 12px 30px;
    width: 100%;
    display: block;
    text-align: left;
    color: #3C454C;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 200ms ease-in;
    overflow: hidden; }
    .inputGroup label:before {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      content: '';
      background-color: #4C8098FF;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) scale3d(1, 1, 1);
      transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
      opacity: 0;
      z-index: -1; }
    .inputGroup label:after {
      width: 32px;
      height: 32px;
      content: '';
      border: 2px solid #D1D7DC;
      background-color: #fff;
      background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
      background-repeat: no-repeat;
      background-position: 2px 3px;
      border-radius: 50%;
      z-index: 2;
      position: absolute;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      transition: all 200ms ease-in; }
  .inputGroup input:checked ~ label {
    color: #fff; }
    .inputGroup input:checked ~ label:before {
      transform: translate(-50%, -50%) scale3d(56, 56, 1);
      opacity: 1; }
    .inputGroup input:checked ~ label:after {
      background-color: #C74E56FF;
      border-color: #B0454CFF; }
  .inputGroup input {
    width: 32px;
    height: 32px;
    order: 1;
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    visibility: hidden; }

.form {
  padding: 0 16px;
  max-width: 550px;
  margin: 50px auto;
  font-size: 18px;
  font-weight: 600;
  line-height: 36px; }

body {
  background-color: #D1D7DC;
  font-family: 'Fira Sans', sans-serif; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

code {
  background-color: #9AA3AC;
  padding: 0 8px; }

.question {
  text-align: left; }

.home {
  height: 2em;
  width: 2em;
  border-radius: 50%;
  background: #C74E56FF;
  position: fixed; }

.home b {
  font-size: 125%;
  color: #fff;
  margin-left: 35%;
  margin-top: 30%; }

#home {
  margin-left: 3em;
  opacity: 0.6; }

#home:hover {
  opacity: 0.99; }

hr {
  border-top: 1px dashed #4C8098FF; }

.submit {
  text-align: center; }

.submit button {
  width: 25%;
  margin-bottom: 3%;
  background: #4C8098FF;
  border-color: #4C8098FF; }
  .submit button:hover {
    cursor: pointer; }

#lastQ {
  display: none; }

#home {
  margin-top: 2%; }

.firstOptionsBlock {
  text-align: center; }

.firstOptionsBlock button {
  width: 35%;
  padding: 1%;
  margin-top: 2%;
  border-radius: 10px;
  outline: none;
  background: #D0D5DBFF;
  color: #000; }

.dateOnPlace,
.datePolice,
.firstOptionsBlock,
.userInfoBlock {
  text-align: center;
  padding-top: 10%; }

.userInfoBlock input {
  margin-top: 4%;
  width: 50%; }

.dateOnPlace button {
  padding: 0.5%;
  background: #007BFFFF;
  color: #fff;
  border-style: solid;
  border-color: #0076F5FF;
  border-width: 3px; }

* {
  margin: 0;
  padding: 0;
  outline: none; }

a:hover,
a {
  text-decoration: none;
  color: #313131FF; }
