$max-width: 768px;
$min-width: 250px;
$primary-font-size: 15px;

// --- HEADER ---
$header-margin-top: 50px;
$header-margin-bottom: 30px;
$burger-button-size: 30px;
$burger-button-strip-width: 23px;
$burger-button-strip-height: 2px;
$side-menu-speed: .5s;

// --- CONTENT ---
$section-height: 150px;
$section-gradient: linear-gradient(180deg, rgba(0, 0, 0, 0) 60.42%, rgba(0, 0, 0, 0.5) 100%);

// --- DROPDOWN ---
$dropdown-opening-speed: .2s;

