.filters {
  position: absolute;
  right: 0;
  height: 100%;
  width: 90%;
  background-color: #fff;
  z-index: 100;
  transform: translateX(100%);
  transition: $side-menu-speed transform, $side-menu-speed box-shadow;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  overflow-y: scroll;

  &_opened {
    transform: translateX(0);
    box-shadow: -10vw 0px 0px 0px rgba(0, 0, 0, .43);
  }

  &__heading {
    padding: 10px;
    background-image: $accent-gradient-rl;
    position: relative;
  }

  &__heading-title {

  }

  &__close {
    @include absolute (right, 20px, top, 50%);
    background-image: $white-cross-icon;
    @include wh (24px);
    transform: translateY(-50%);
  }

  &__body {
    padding: 0;
  }

  &__item {
    padding: 0 10px;

    &:first-of-type {
      margin-top: 10px;
    }
  }

  .close {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 20%;
    background-color: red;
    transform: translateX(-100%);
    z-index: 100;
    opacity: 0;
  }
}