body{
	background: #8D8D8DFF;
	height: 95vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column
}

/* .canvas{
 	position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.canvas{
	top:50%;
} */

.score{
	color: #2A2232FF;
		font-size: 1.2emwa;
}