* {
  margin: 0;
  padding: 0;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 10vh;
  margin: 10px;
  border: 1px solid #000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.box:first-child {
  background: red;
}

button {
  height: 10vh;
  margin: 10px;
  border: 1px solid #000;
  width: 15vw;
  outline: none;
  border-radius: 5%;
  margin-left: 10px;
  background: #3CB371;
}

button:hover {
  cursor: pointer;
  color: #fff;
  background: rgba(60, 179, 113, 0.9);
}

button:nth-child(even) {
  float: right;
}
