@import 'button.scss';

body{
	background: #8D8D8DFF;
	height: 95vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column
}
 
.score{
	color: #2A2232FF;
		font-size: 1.2em;
}