body{
  background: #e4e4e4;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

canvas {
  margin-bottom: 100px;
}

#up {
    grid-area: u;
    background: grey;
}

#up:active,
#down:active,
#left:active,
#right:active{
  opacity: .6;
}
#down {
    grid-area: d;
    background: grey;
}
#right {
    grid-area: r;
    background: grey;
}
#left {
    grid-area: l;
    background: grey;
}

#draw {
  grid-area: dr;
  background: #fd4d82;
  border-radius: 200px !important;
}

.wrapper > div{
  border-radius: 20px;
  box-shadow: -8px 9px 40px -10px rgba(87,81,87,0.96);
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  width: 30%;
}

#up img {
  transform: rotate(-90deg);
}

#left img {
  transform: rotate(-180deg);
}

#down img {
  transform: rotate(90deg);
}

.wrapper {
  margin: auto;
    display: grid;
    grid-gap: 5%;
    width: 398px;
    height: 398px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas: 
      ". u . "
      "l dr r"
      ".  d  .";
}