#root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #171a20;
  /* flex-direction: column; */
}

.App {
  width: 20vw;
  min-width: 250px;
  background: #282d37;
  color: silver;
  border: 2px solid #e55658;
  border-radius: 10px;
}

.App, form {
  display: flex;
  align-self: center;
  justify-content: center;
  flex-direction: column;
}

form{
  margin-top: 5vh;
}

button{
  outline: none;
  margin-top: 3vh;
  border-radius: 5px;
}

input{
  outline: none;
  text-align: center;
  margin-top: -2.5vh;
  border-radius: 5px;
}

.temp {
  text-align: center;
}

