body {
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pwd-generator {
  max-width: 600px;
  width: 100%;
  background: tomato;
  padding: 10px;
  text-align: center;

  &__row {
    display: block;
    text-align: left;
  }

  &__pwd {
    position: relative;
    margin-bottom: 10px;
  }

  &__switchers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5px;
    text-align: center;
  }
}